.App {
  width: 700px;
  height: 600px;
  background-color: #5f5a55;
  margin: auto;
  padding-top: 12px;
}
.caja{
  width: 400px;
  background-color: #4a453f;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.ingresojugadores{
  height: 150px;
  margin-top: 60px;
  padding-top: 10px;
}
.seleccionSimbolo{
  height: 120px;
}
h3{
  margin-top: 0px;
}
.titulo{
  font-size: 30px;
}
.subtitulo{
  font-size: 20px;
  font-weight: 400;
}
.encabezado{
  font-size: 16px;
  font-weight: 400;
}
.uno{
  float: left;
}
.dos{
  float: right;
}
input{
  border-radius: 5px;
}
.boton{
  font-size: 40px;
  font-family: 'Righteous', cursive;
  border-radius: 5px;
  width: 55px;
}
.equis{
  margin-right: 20px;
}
.tablero{
  width: 302px;
  height: 300px;
  margin: auto;
  margin-top: 15px;
  font-family: 'Righteous', cursive;
}
.fila{
  width: 302px;
  height: 100px;
}
.segunda{
  border-top: 1px solid #696662;
  border-bottom: 1px solid #696662;
}
.columna{
  border-left: 1px solid #696662;
  border-right: 1px solid #696662;
}
.casilla{
  width: 100px;
  height: 100px;
  display: inline-block;
  font-size: 80px;
}
.botonReinicio{
  font-family: 'Press Start 2P', cursive;
  padding: 5px;
  border-radius: 5px;
}